.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    background: white;
    height: 40px;
    width: 100%;
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
    background: white;
    height: 40px;
    width: 100%;
}